.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form-container .form{
    margin-top: 5vh;
    position: relative;
}

.form-container .form input{
    height: 50px;
}

.form-container .form h1 {
    color: #00C968;
}

.form-container .form h3{
    color: #333;
}

.form-container .background{
    width: 90vw;
    position: absolute;
    margin-top: 15vh;
    z-index: -1;
}

.form-container .form .signup-avatar{
    height: 100px;
}

.form-container .form .back-button{
    font-size: 1.5rem;
    color: #00C968;
    text-decoration: none;
    position: absolute ;
    left: 0;
    top: 0;
}

.form-container .form .back-button:hover{
    filter: brightness(80%);
}

.form-container .form .back-button .back-button-text{
    justify-content: center;
    font-size: 1.5rem;
    color: #00C968;
    font-weight: bold;
    text-decoration: none;
    margin-left: 6px;
}