.dashboard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}

.dashboard{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    margin: 20px;
    background: rgb(224, 224, 224);
    padding: 32px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.233);
    align-items: center;
    text-align: center;
}

.dashboard .dashboard-title{
    color: #111;
    font-size: 2.5rem;
}

.dashboard .dashboard-subtitle{
    color: #444;
    font-size: 1.3rem;
}

.dashboard .buttons{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard .buttons button {
    margin: 20px;
    width: 30%;
    height: 60px;
    background: #00C968;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 60px;
    transition: filter 0.2s;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9;
}

.dashboard .buttons button:hover {
    filter: brightness(90%);
}
.dashboard .projects-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.dashboard .projects-container .project{
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin: 20px;
    background: #f2f5f0;
    padding: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.233);
    align-items: center;
    text-align: center;
    width: 40%;
    min-width: 360px;
    position: relative;
}

.dashboard .projects-container .project .project-delete{
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 2em;
    color: #333;
    cursor: pointer;
}

.dashboard .projects-container .project .project-delete:hover{
    filter: opacity(80%);
}

.dashboard .projects-container .project .project-title{
    font-size: 2rem;
    color: #222222;
}

.dashboard .projects-container .project .project-summary{
    font-size: 1.2rem;
    color: #2c2c2c;
}

.dashboard .projects-container .project .project-role{
    display: flex;
}

.dashboard .projects-container .project .project-role h2{
    font-size: 1.2rem;
    color: #2c2c2c;
    margin-right: .5rem;
}

.dashboard .projects-container .project .project-ownership-dono{
    font-size: 1.2rem;
    color: #ec3d3d;
}

.dashboard .projects-container .project .project-ownership-admin{
    font-size: 1.2rem;
    color: #803dec;
}

.dashboard .projects-container .project .project-ownership-dev{
    font-size: 1.2rem;
    color: #3d9dec;
}

.dashboard .projects-container .project .project-links{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.dashboard .projects-container .project .project-link{
    color: #00C968;
    text-decoration: none;
    margin-right: 0.6rem;
}

.dashboard .projects-container .project .project-links:hover{
    filter: brightness(80%);
}

.dashboard .projects-container .project .project-link .project-link-svg{
    position: relative;
    top: .125em;
}

.dashboard .projects-container .no-projects{
    color: #555;
    filter: brightness(160%);
}

@media only screen and (max-width: 768px) {
    .dashboard .projects-container .project{
        width: 90%;
        min-width: 210px;
    }

    .dashboard .buttons button {
        width: 40%;
        margin: 10px;
    }
  }