.NewProject{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vw;
    overflow-x: hidden;
}

.NewProject .newproject-svg{
    height: 148px;
}

.NewProject .form{
    margin-top: 1rem;
    width: 80%;
    position: relative;
}

.NewProject .form h1{
    color: #00C968;
}

.NewProject .form h3{
    color: #333;
}

.NewProject .form .summary , .NewProject .form .desc{
    margin-top: 5px;
    width: 100%;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    resize: none;
    text-align: start;
    height: 3em;
}

.NewProject .form .desc{
    height: 6em !important;
}

.NewProject .background{
    width: 90vw;
    position: absolute;
    margin-top: 15vh;
    z-index: -1;
}

.NewProject .form .back-button{
    font-size: 1.5rem;
    color: #00C968;
    text-decoration: none;
    position: absolute ;
    left: 0;
    top: 0;
}

.NewProject .form .back-button:hover{
    filter: brightness(80%);
}

.NewProject .form .back-button .back-button-text{
    justify-content: center;
    font-size: 1.5rem;
    color: #00C968;
    font-weight: bold;
    text-decoration: none;
    margin-left: 6px;
}