.navbar{
    width: 100vw;
    display: flex;
    background-color: #00C968;
    justify-content: space-between;
    align-items: center;
    position: relative;
    user-select: none;
}

.navbar .navbar-items{
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    margin-right: 3rem;
    font-weight: bold;
}

.navbar .navbar-items .nav-item{
    text-transform: uppercase;
    cursor: pointer;
    color: #f5f5f0;
    text-decoration: none;
}

.navbar .navbar-items .nav-item:hover{
    opacity: 0.8;
}

.nav-link:hover{
    opacity: 0.8;
}

.logo{
    display: flex;
    margin-right: auto;
    margin-left: 30px;
    align-items: center;
    text-decoration: none;
}

.logo-img{
    height: 50px;
    width: auto;
    padding: 10px;
}

.logo-name{
    font-weight: bold;
    color: #ffffff;
}


.nav-link {
    color: #f5f5f0;
    text-decoration: none;
    cursor: pointer;
}

.nav-link .nav-logoff-svg{
    top: .125em;
    position: relative;
}

.navbar .navbar-items .divider{
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}
.navbar .navbar-items .nav-notification{
    text-transform: uppercase;
    cursor: pointer;
    color: #f5f5f0;
    display: flex;
    align-items: center;
}
.navbar .navbar-items .nav-notification .new-notification{
    display: flex;
    padding: .7rem;
    margin-left: .3rem;
    justify-content: center;
    align-items: center;
    background-color: #cc0000;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.new-notification {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

@media only screen and (max-width: 768px) {
    .navbar{
       font-size: 12px;
    }
    .navbar .navbar-items .divider{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .logo{
        margin-left: 0;
    }
  }
